* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: BebasNeue;
    src: url(/fonts/BebasNeue.ttf) format('truetype');
  }

  @font-face {
    font-family: Allerta;
    src: url(/fonts/Allerta.ttf) format('truetype');
  }
}

:root {
  color: $white;
  background-color: $blue;
  min-height: 100vh;

  body {
    min-height: 100vh;
  }

  h2,
  h3 {
    @include text-xl;
  }

  p {
    font-family: Allerta;
    margin: 1rem 0;

    @include text;
  }
}
