* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: BebasNeue;
    src: url(/fonts/BebasNeue.ttf) format('truetype');
  }

  @font-face {
    font-family: Allerta;
    src: url(/fonts/Allerta.ttf) format('truetype');
  }
}

:root {
  color: $white;
  background-color: $black;

  h2,
  h3 {
    @include text-xl;
  }

  p {
    font-family: $ftext;
    margin: 1rem 0;

    @include text;
  }

  .container {
    width: 80%;
    margin: 120px auto 0;

    @include desktop {
      max-width: 1400px;
    }

    @include desktop-xl {
      max-width: 1800px;
    }
  }
}
