@import "./mixins.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: BebasNeue;
    src: url(/fonts/BebasNeue.ttf) format('truetype');
  }

  @font-face {
    font-family: Allerta;
    src: url(/fonts/Allerta.ttf) format('truetype');
  }

  @font-face {
    font-family: Martyr;
    src: url(/fonts/martyr/martyr.ttf) format('truetype');
  }
}

:root {
  color: $white;
  background-color: $black;
  overflow-x: hidden;

  ul {
    padding: 0;
  }

  body {
    margin: 0;
  }

  h1 {
    @include text-2xl;
    font-family: $ftext;
    margin: 0 0 3rem;
  }

  h2,
  h3 {
    @include text-xl;
  }

  p {
    font-family: $ftext;
    margin: 1rem 0;

    @include text;
  }

  ul li {
    list-style: none;
  }
}

// Anims
@keyframes titleLeaveAnim {
  25% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes titleEnterAnim {
  0% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
