@mixin text-3xl {
  font-size: 3rem;
  line-height: 1;
}

@mixin text-2xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@mixin text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin text3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
