@mixin text-3xl {
  font-size: 3rem;
  line-height: 1;
}

@mixin text-2xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@mixin text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin text {
  font-size: 1.25rem;
}

@mixin text-sm {
  font-size: 1.1rem;
}

@mixin mobile-small {
  @media (max-width: 399px) {
    @content;
  }
}

@mixin no-small {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1800px) {
    @content;
  }
}
