@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: BebasNeue;
    src: url(/fonts/BebasNeue.ttf) format('truetype');
  }

  @font-face {
    font-family: Allerta;
    src: url(/fonts/Allerta.ttf) format('truetype');
  }
}

:root {
  @apply bg-blue text-white min-h-screen;

  body {
    @apply min-h-screen;
  }
}
